
*
!*/
!.gitignore

# hdl files in sources dir only
!/dpd_rtl/**/*.v
!/dpd_rtl/**/*.vh
!/dpd_rtl/**/*.sv
!*.md
!*.bit
!*.ltx
!/dpd_xilinx/rtl/**/*.xci
!/dpd_xilinx/rtl/**/*.xcix
!*.mem
!*.xdc
!*.tcl
!*.do
!*.docx
!*.pdf
!*.py
!*.m
!*.dat
!*.txt
!*.jpg

# exclude this:
/dpd_xilinx/**/*.txt
/dpd_xilinx/project_2/**/
/dpd_xilinx/rtl/**/*.xdc
# include main for project
!dpd_xilinx/rtl/main.sv
