#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore


!*.vhd
!*.v
!*.vh
!*.sv
!*.bit
!*.ltx
!*.xci
!*.xcix
!*.mem
!*.xdc
!*.tcl
!*.do
!*.docx
!*.pdf
!*.py
!*.m
!*.dat
!*.txt
!*.jpg

